# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
backend/.env
venv
backend/kaggle.json
best_waste_classifier.pth
__pycache__/
dataset

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
backend/.env
the-tokenizer-450120-i0-50ae4af36552.json
the-tokenizer-450120-i0-109dcaf1f39c.json
backend/.env
the-tokenizer-450120-i0-50ae4af36552.json
the-tokenizer-450120-i0-109dcaf1f39c.json
backend/.env
the-tokenizer-450120-i0-50ae4af36552.json
the-tokenizer-450120-i0-109dcaf1f39c.json
backend/.env
backend/.env
dataset/
backend/__pycache__/
__pycache__/
__pycache__/
